{% load static %}

<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/detailstyle.css' %}">
</head>
<body>


<!--NAVIGATION BAR-->

<div class="navigation-bar">
  <section id="nav-bar" class="container">
    <header class="nav-bar">
      <div class="brand"><a href="/">YOUR NAME HERE</a></div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </header>
  </section>
</div>

<!--END OF NAVIGATION BAR-->


<main>

<!--ARTICLE SECTION-->

  <div class="content-section">
    <div class="card">
      <h1>{{post.title}}</h1>
      <small>{{post.create_date}} Time of reading: {{post.time_reading}}</small>
      <p>{{post.body|safe}}
    </div>
  </div>

<!--END OF ARTICLE SECTION-->


<!--FOOTER SECTION-->

  <footer id="footer" class="footer container">
    <div class="footer-contact">
      <h1 class="footer-contact-heading">Check my social media</h1>
      <p class="footer-contact-info">Email: YOUR EMAIL HERE</p>
    </div>
    <div class="footer-social-follow">
      <div class="footer-social-icon">
        <a href="https://twitter.com/Kacper95682155"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/DEENUU1"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kacper-w%C5%82odarczyk-449b62254/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>

<!--END OF FOOTER SECTION-->

<!--HAMBURGER SCRIPT-->

  <script src="{%static '/css/app.js'%}"></script>

<!--END OF HAMBURGER SCRIPT-->

</main>
</body>
</html>
