{% load static %}

<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog | Kacper Włodarczyk</title>
  <link rel="stylesheet" href="{% static '/css/blogstyle.css' %}">
</head>
<body>


{% for post in object_list %}

<div class="container">
  <div class="card">
    <div class="imgBx">
    <a href="{% url 'article-detail' post.pk %}">
    <img src="{{post.image.url}}">
    </a>
    <h2>{{post.title}} </h2> <small>{{post.create_date}}</small>
    <p><br>{{post.small_body}}</p>
    </div>
  </div>
</div>





<!--  <section class="posts">-->
<!--    <h2> {{ post.title }} </h2> <small>{{post.create_date}}</small><br/>-->
<!--    <p>{{ post.small_body }}<a href="{% url 'article-detail' post.pk %}"> Czytaj dalej...</a></p><br/>-->
<!--  </section>-->
{% endfor%}


</body>
</html>