{% load static %}

<html lang="pl-PL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog | Kacper Włodarczyk</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/blogstyle.css' %}">
</head>
<body>

{% for post in object_list %}
  <section class="posts">
    <h2> {{ post.title }} </h2><br/>
    <p>{{ post.body|slice:":150" }}<a href="{% url 'article-detail' post.pk %}"> Czytaj dalej...</a></p><br/>
    <p>autor: {{ post.author }} data: {{ post.create_date }}</p></br>
  </section>
{% endfor%}


</body>
</html>