{% load static %}




<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kacper Włodarczyk</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

<div class="navigation-bar">
  <section id="nav-bar" class="container">
    <header class="nav-bar">
      <div class="brand"><a href="#">Kacper Włodarczyk</a></div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </header>
  </section>
</div>
  <!-- Hero Section  -->
  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">Hi, I'm Kacper</h1>
        <p class="hero-info-quote">If i don't know something I'm trying to learn about it.</p>
        <div class="contact-button">
          <a href="#contact">Contact me</a>
        </div>
<!--      <p class="hero-info-subheading">Backend developer</p>-->
    </div>
  </section>
  <!-- End Hero Section  -->
<main>
  <!-- About section  -->
 <section id="about" class="about container">
    <div class="about-info">
      <h1 class="about-info-heading">About me</h1>
    </div>

    <div class="row">
        <div class="left">
            <img src="/staticfiles/images/picture.jpg" alt="about-img">
        </div>

        <div class="right">
            <div class="content">
                <p>I am software engineer. For seriously I started learning programming in august 2022.
                    </br>Right now I know:
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML/CSS</li>
                        <li>SQLite</li>
                    </ul>
                    <p>This website is my first Django project, under this section you can see my other projects.
                    I also invite you to visit my blog (made with Django)</p>
            </div>
        </div>
    </div>

  </section>
  <!-- End About section  -->

  <section id="projects" class="projects container">
    <div class="projects-info">
      <h1 class="projects-info-heading">Projects</h1>
    </div>
      <p class="projects-info-desc">In this section I would like to represent you my portfolio</p>
      <p class="projects-info-desc">All of this projects are open soft and are avaiable on GitHub</p>


      <div class="containerp">
        <div class="grid">
            <div class="card">
                <div class="card_img">
                    <img src="/staticfiles/images/projectweb.gif" alt="project-1">
                </div>
                <div class="card_body">
                    <h2 class="card_title">Portfolio and blog web page</h2>
                    <p>My first web project. Here you can see my portfolio and read my blog.</p>
                    <h6>Technologies:</h6>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>SQLite</li>
                    </ul>
                    <a href="#" class="read_more">See on Github</a></br>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/staticfiles/images/project123.gif" alt="project-2">
                </div>
                <div class="card_body">
                    <h2 class="card_title">Space Catalog</h2>
                    <p>Space catalog is a GUI application to browse and learn about space. You can read about our solar system, browse nasa daily photo by just choosing a date and a lot more.</p>
                    <h6>Technologies:</h6>
                    <ul>
                        <li>Python</li>
                        <li>Tkinter</li>
                        <li>NASA API</li>
                    </ul>
                    <a href="https://github.com/DEENUU1/Space-catalog" class="read_more">See on Github</a>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="/staticfiles/images/project2.gif" alt="project-3">
                </div>
                <div class="card_body">
                    <h2 class="card_title">Nasa Apod</h2>
                    <p>If you love space images. You have to get this application. You can browse NASA image, choose date, read about it and automatically download image on your computer.</p>
                    <h6>Technologies:</h6>
                    <ul>
                        <li>Python</li>
                        <li>Tkinter</li>
                        <li>NASA API</li>
                    </ul>
                    <a href="https://github.com/DEENUU1/Nasa-Apod" class="read_more">See on Github</a>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section id="contact" class="contact container">
    <div class="contact-info">
      <h1 class="contact-info-heading">Contact</h1>
    </div>

  <form action="/contact-form/" method="post">
      {% csrf_token %}
          <input name="email" type="text" class="feedback-input" placeholder="E-mail" />
          <input name="subject" type="text" class="feedback-input" placeholder="Subject" />
          <textarea  name="text" class="feedback-input" placeholder="Message"></textarea>
          <input type="submit" value="SUBMIT"/>
  </form>



  </section>

  <!-- Footer section  -->
  <footer id="footer" class="footer container">
    <div class="footer-contact">
      <h1 class="footer-contact-heading">Check my social media</h1>
      <p class="footer-contact-info">Email: kacperwlodarczyk@protonmail.com</p>
    </div>
    <div class="footer-social-follow">
      <div class="footer-social-icon">
        <a href="https://twitter.com/Kacper95682155"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/DEENUU1"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kacper-w%C5%82odarczyk-449b62254/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
  <!-- End Footer section  -->
  <script src="{%static '/css/app.js'%}"></script>
</main>
</body>
</html>