{% load static %}

<html lang="pl-PL">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Kacper Włodarczyk, Kacper, Włodarczyk, Programming, Python, Programowanie, HTML5, HTML, CSS, portfolio,Blog, Moje życie, Moje, Życie, My life, My, Life">
  <meta name="description" content="Kacper Włodarczyk personal portfolio, projects, and blog. I created Space Catalog and Nasa Apod. Kacper Włodarczyk, moja osobity strona internetowa, zawiera moje projekty oraz personalego bloga. Stworzyłem Space Catalog oraz Nasa Apod.">
  <meta name="author" content="Kacper Włodarczyk">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kacper Włodarczyk</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

<!--NAVIGATION BAR-->

<div class="navigation-bar">
  <section id="nav-bar" class="container">
    <header class="nav-bar">
      <div class="brand"><a href="#">Kacper Włodarczyk</a></div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </header>
  </section>
</div>

<!--END OF NAVIGATION BAR-->


<!--FIRST SECTION-->

  <section id="hero" class="hero container">
    <div class="hero-info">
      <h1 class="hero-info-heading">Hi, I'm Kacper</h1>
        <p class="hero-info-quote">If I don't know something I'm trying to learn about it.</p>
        <div class="contact-button">
          <a href="#contact">Contact me</a>
        </div>
    </div>
  </section>

<!--END OF FIRST SECTION-->

<main>



<!--ABOUT ME SECTION-->

 <section id="about" class="about container">
    <div class="about-info">
      <h1 class="about-info-heading">About me</h1>
    </div>

    <div class="row">
        <div class="left">
            <img src="/static/images/picture.jpg" alt="about-img">
        </div>

        <div class="right">
            <div class="content">
                <p>I am software engineer. For seriously I started learning programming in august 2022.
                    </br>Right now I know:
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML/CSS</li>
                        <li>SQLite</li>
                    </ul>
                    <p>This website is my first Django project, under this section you can see my other projects.
                    I also invite you to visit my blog (made with Django)</p>
            </div>
        </div>
    </div>
  </section>

<!--END OF ABOUT SECTION-->


<!--PROJECT SECTION-->

  <section id="projects" class="projects container">
    <div class="projects-info">
      <h1 class="projects-info-heading">Projects</h1>
    </div>

    <div class="cards">
        <div class="card card1">
            <div class="container_card">
                <img src="/static/images/projectweb.gif" alt="Personal web page">
            </div>
            <div class="details">
                <h4>Personal web page</h4>
                <p>You are already here! This is my first web application hope you enjoy!</p>
                <p>If you wanna know what on what I am working now check my blog.</p>
                <h3>Technology used:</h3>
                <ul>
                    <li>Python (Django)</li>
                    <li>HTML/CSS</li>
                    <li>JavaScript</li>
                    <li>SQLite</li>
                </ul>
                <div class="github-button">
                    <a href="#">See code on GitHub</a>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="container_card">
                <img src="/static/images/project123.gif" alt="Cosmos catalog">
            </div>
            <div class="details">
                <h4>Space Catalog</h4>
                <p>Space catalog is a GUI application to browse and learn about space.</p>
                <p>You can read about our solar system, browse nasa daily photo by just choosing a date and a lot more.</p>
                <h3>Technology used:</h3>
                <ul>
                    <li>Python</li>
                    <li>Tkinter</li>
                    <li>Nasa API</li>
                </ul>
                <div class="github-button">
                    <a href="#">See code on GitHub</a>
                </div>
            </div>
        </div>
        <div class="card card3">
            <div class="container_card">
                <img src="/static/images/project2.gif" alt="Nasa apod">
            </div>
            <div class="details">
                <h4>NASA APOD</h4>
                <p>NASA APOD is a GUI application to browse and download NASA picture of a day, you just need to choose date and enjoy views.</p>
                <h3>Technology used:</h3>
                <ul>
                    <li>Python</li>
                    <li>Tkinter</li>
                    <li>Nasa API</li>
                </ul>
                <div class="github-button">
                    <a href="#">See code on GitHub</a>
                </div>
            </div>
        </div>
    </div>
  </section>

<!--END OF PROJECT SECTION-->


<!--CONTACT SECTION-->

  <section id="contact" class="contact container">
    <div class="contact-info">
        <h1 class="contact-info-heading">Contact</h1>
    </div>
      
      <form class="" method="post" >

      {% csrf_token %}
              <input name="email" type="text" class="feedback-input" placeholder="E-mail" required />
              <input name="subject" type="text" class="feedback-input" placeholder="Subject" required />
              <textarea  name="text" class="feedback-input" placeholder="Message" required></textarea>
              <input type="submit" value="SUBMIT"/>


      </form>
  </section>

<!--END OF CONTACT SECTION-->


<!--FOOTER SECTION-->

  <footer id="footer" class="footer container">
    <div class="footer-contact">
      <h1 class="footer-contact-heading">Check my social media</h1>
      <p class="footer-contact-info">Email: kacperwlodarczyk@protonmail.com</p>
    </div>
    <div class="footer-social-follow">
      <div class="footer-social-icon">
        <a href="https://twitter.com/Kacper95682155"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/DEENUU1"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kacper-w%C5%82odarczyk-449b62254/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>

<!--END OF FOOTER SECTION-->

<!--HAMBURGER SCRIPT-->

  <script src="{%static '/css/app.js'%}"></script>


<!--END OF HAMBURGER SCRIPT-->

</main>
</body>
</html>